@model CommentaryViewModel

@{
    ViewData["Title"] = "Update commentary";
}

@using (Html.BeginForm("UpdateCommentary", "Commentaries", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.CommentaryId)
    <div class="form-group">
        @Html.LabelFor(m=>m.Text, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Text, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Text, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить комментарий" class="btn btn-default"/>
        </div>
    </div>    
}