<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<form action="/Home/AddEntry/" method="post" enctype="multipart/form-data">
    <h3>Ваш пост:</h3>
    <hr/>
    <label for="name">Наименование:</label>
    <input id="name" name="name"/>
    <br/>
    <label for="text">Текст:</label>
    <textarea id="text" name="text"></textarea>
    <br/>
    <label for="image">Прикрепить изображение:</label>
    <input id="image" name="image" type="file" accept="image/*"/>
    <br/>
    <input value="Подтвердить" type="submit"/>
</form>
</body>
</html>